@import "../_utils/colors";
@import "../_utils/_mixins/button";

.buy-ticket-1 {
  .apply-coupon {
    @include green-button;
    width: 100%;
  }

  .checkout {
    @include green-button;
    width: 100%;
  }

  .panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

}