@import "_utils/colors";
@import "_utils/variables";
@import "_utils/_mixins/button";

.main-slider {
  width: 100%;
  height: 100vh;

  #slider {
    .slider-items {
      width: 100%;
      height: 100vh;
      background-size: cover;
      color: #fff;

      .color-overlay {
        background-size: cover;
        background: linear-gradient(334deg, rgba(0, 0, 0, 0.53), rgba(0, 85, 145, 0.53)) no-repeat center;

        .slider-container {
          .slider-text {
            font-size: 5rem;
            line-height: 1.5;
            text-align: center;
            @media screen and (max-width: $tablet-l) {
              font-size: 4rem;
            }
            @media screen and (max-width: $tablet-m) {
              font-size: 3rem;
            }
            @media screen and (max-width: $mobile-l) {
              font-size: 2rem;
            }
          }

          .slide-info {
            span {
              @media screen and (max-width: $tablet-m) {
                display: none;
              }
            }

            .slide-info-t {
              margin-bottom: 0 !important;
              margin-top: 0 !important;
              @media screen and (max-width: $tablet-m) {
                display: none;
              }
            }

            .btn-slide {
              background-color: transparent;
              border: 1px solid #fff;
              color: #fff;
              padding: 10px 25px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              margin: 4px 2px;
              cursor: pointer;
              border-radius: 40px;

              &:hover {
                background-color: $button-color;
                box-shadow: 0 0.1rem 1.4rem #0a5d2ef0;
              }
            }
          }
        }
      }
    }
  }

  .prev-arrow {
    position: absolute;
    z-index: 15;
    left: 5px;
    top: 50%;
    color: #FFFFFF;
  }

  .next-arrow {
    position: absolute;
    z-index: 15;
    right: 5px;
    top: 50%;
    color: #FFFFFF;
  }

}

#events {
  .sort-by{
    justify-content: flex-end;
      @media screen and (max-width: $tablet-l) {
              justify-content: center;
            }
    .filter-date{
        @media screen and (max-width: $tablet-l) {
                display: none;
              }
    }
    .filter-price{
        @media screen and (max-width: $tablet-l) {
                display: none;
              }
    }
    .filter-cat{
        @media screen and (max-width: $tablet-l) {
                width: 100%;
              }
      select{
          @media screen and (max-width: $tablet-l) {
                  padding: 0 20% !important;
                  @include green-button;

                }
      }
    }
  }
  .home-create-event {
    color: $main-color;
  }
}

#categories {


  .prev-arrow {
    position: absolute;
    z-index: 15;
    left: 5px;
    top: 50%;
    color: #FFFFFF;
  }

  .next-arrow {
    position: absolute;
    z-index: 15;
    right: 5px;
    top: 50%;
    color: #FFFFFF;
  }

  .cat-slider {
    background-color: $main-color;

    .cat-img {
      border-radius: 50%;
    }
  }

}

#top-organizers {
  .top-org-slider {
    .top-org-img {
      border: 1px solid #000000;
    }
  }
}