@import "../_utils/variables";
#header {
  position: relative;
  .img-text {
    position: absolute;
    color: #fff;
    left: 10%;
    right: 0;
    top: 35%;
    letter-spacing: 3px;
    .sub-title{
      color: #fff;
        @media screen and (max-width: $tablet-l) {
                font-size: 1.5rem;
              }
    }
  }
}