@import "../_utils/_mixins/button";

#search-bar {
  //background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 3rem;
  @media screen and (max-width: $tablet-l) {
    position: static;
    bottom: auto;
    margin-top: 0rem;
  }
  form{
    .form-row{
      .form-group{
        margin: 0 !important;
      }
    }
  }
  .event-search-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
      @media screen and (max-width: $tablet-l) {
              flex-direction: column;
              align-content: space-between;
            }
    div{
        @media screen and (max-width: $tablet-l) {
                width: 80%;
                margin-bottom: 10px;
          &:first-child{
            margin-top: 10px;
          }
              }
    }
    .btn-search1{
        @media screen and (max-width: $tablet-l) {
                width: 50% !important;
              }
    }
  }

  .search-text {
    color: #fff;
    margin-bottom: 0 !important;
  }

  .event-search-box {
    background-color: transparent;
    color: #fff;
    border-radius: 5rem;
    border-color: #fff;

    &::placeholder {
      color: #fff;
    }
  }

  .btn-search {
    width: 100%;
    @include green-button;
  }
}
