
.soc-share-con{
  position: absolute;
    bottom: -15px;
    left: 15%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #d1d1d173;
    display: block;

.soc-share{

i.fb,       span.fb{     	color: #3b5998; }
i.tw,       span.tw{     	color: #00aced; }
i.linkin,   span.linkin{ 	color: #007bb6; }
i.vk,       span.vk{     	color: #45668e; }
i.pinterest,span.pinterest{ color: #cb2027; }
}}