{% extends "base.html" %}
{% load static %}
{% block title %} All Experts {% endblock %}
{% block main %}
    <div class="exd-slider-container">
        <div class="exd-slider owl-carousel">
            <a href="{% url 'AllEvents' %}" style=" width: 275px" class="nav-slider-con">
                <div class="nav-slider-item">
                    <img src="{% static 'assets/images/ex/events.png' %}" alt="Revealin Events">
                    <div id="ovrl" class="overlay"></div>
                    <h3 class="text">Events</h3>
                </div>
            </a>
            <a href="{% url 'expert' %}" style=" width: 275px" class="nav-slider-con">
                <div class="nav-slider-item">
                    <img src="{% static 'assets/images/ex/experts.png' %}" alt="Revealin Experts">
                    <div class="overlay-active"></div>
                    <h3 class="text">Experts</h3>
                </div>
            </a>
            <a href="#" style=" width: 275px" class="nav-slider-con">
                <div class="nav-slider-item">
                    <img src="{% static 'assets/images/ex/speakers.png' %}" alt="Revealin Speakers">
                    <div class="overlay"></div>
                    <h3 class="text">Speakers</h3>
                </div>
            </a>
            <a href="{% url 'companies' %}" style=" width: 275px" class="nav-slider-con">
                <div class="nav-slider-item">
                    <img src="{% static 'assets/images/ex/companies.png' %}" alt="Revealin Companies">
                    <div class="overlay"></div>
                    <h3 class="text">Companies</h3>
                </div>
            </a>
            <a href="#" style=" width: 275px" class="nav-slider-con">
                <div class="nav-slider-item">
                    <img src="{% static 'assets/images/ex/startup.png' %}" alt="Revealin Startup">
                    <div class="overlay"></div>
                    <h3 class="text">Start-up</h3>
                </div>
            </a>
            <a href="#" style=" width: 275px" class="nav-slider-con">
                <div class="nav-slider-item">
                    <img src="{% static 'assets/images/ex/organizers.png' %}" alt="Revealin Organizers">
                    <div class="overlay"></div>
                    <h3 class="text">Organizers</h3>
                </div>
            </a>
        </div>
    </div>
    <form method="POST" id="expert-search-form" name="myform2" onsubmit="return ExpertOnSubmitForm();">
        <div class="expert-search p-5">

            {% csrf_token %}
            <div class="main-part">
                <div class="form-row esf-form1">
                    <div class="form-group col-md-6 col-sm-12 offset-md-4 offset-sm-0 ">
                        <div class="input-group esf-form-ing">
                            <div class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </div>
                            <input type="text" class="form-control" name="main-search" id="main-search"
                                   placeholder="search Experts..." value="{{ name }}">
                        </div>
                        <label for="main-search" id="main-search-label"><span style="color: #08c65b;">Reveal</span>
                            list of experts from
                            all over the World</label>
                    </div>
                </div>
                <div class="form-row esf-form2">
                    <div class="col-6 col-md-2 col-sm-4 mt-1 offset-md-3">
                        <input type="text" class="form-control" name="location" id="location"
                               placeholder="Location">
                    </div>
                    <div class="col-6  col-md-2 col-sm- mt-1">
                        <input type="text" class="form-control" name="skills" id="skills"
                               placeholder="Skills" value="{{ skills }}">
                    </div>
                    <div class="col-6 col-md-1 col-sm-4 mt-1">
                        <input type="submit" class="form-control" name="esf-submit" id="esf-submit"
                               value="GO!">
                    </div>
                    <div class="col-6 col-md-2 col-sm-4 mt-1">
                        <button type="button" class="form-control esf-filter">Filter <i class="fa fa-sliders"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="container esf-form3-cont mt-4">
            <div class="row esf-form3-first-part">
                <div class="col-md-4 col-12 my-2">
                    <input type="text" class="form-control" name="country" id="country"
                           placeholder="Country">
                </div>
                <div class="col-md-4 col-12 my-2">
                    <input type="text" class="form-control" name="city" id="city"
                           placeholder="City">
                </div>
                <div class="col-md-4 col-12 my-2">
                    <input type="text" class="form-control" name="language" id="language"
                           placeholder="Language">
                </div>
            </div>
            <div class="row esf-form3">
                <div class="col-md-3 col-sm-6 col-fil col-6">
                    <p class="filter-title">Industry</p>
                    <label class="container">Design
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Customer Service
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Web Development
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Devops
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <a href="#">see all Industries</a>
                </div>
                <div class="col-md-3 col-sm-6 col-fil col-6">
                    <p class="filter-title">Skills</p>
                    <label class="container">Graphic Designer
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Copywriting
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">HTML
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Virtual Asistant
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <a href="#">see all Skills</a>
                </div>
                <div class="col-md-3 col-sm-6 col-fil col-6">
                    <p class="filter-title">Company</p>
                    <label class="container">Excepteur
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Customer Service
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Web Development
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Devops
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <a href="#">see all Companies</a>
                </div>
                <div class="col-md-3 col-sm-6 col-fil col-6">
                    <p class="filter-title">Last Activity</p>
                    <label class="container">Any Time
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Last 2 Weeks
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Within 1 Month
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Within 2 Months
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-3 col-sm-6 col-fil col-6">
                    <p class="filter-title">Bro Score</p>
                    <label class="container">1-20
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">21-50
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">51-75
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">76-100
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="col-md-3 col-sm-6 col-fil col-6">
                    <p class="filter-title">Language</p>
                    <label class="container">English
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Russian
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Spanish
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">French
                        <input type="checkbox" name="ind1" value="design">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="search-result-cont" id="search-result-cont">
        <div class="container search-result">
            <div class="sr-filter">
                <ul class="sr-filters">
                    <li {% if filter_type == "*" %} class="active" {% endif %} class="active"><a href="#"
                                                                                                 data-filter="*">All</a>
                    </li>
                    <li {% if filter_type == "full_time" %} class="active" {% endif %}><a data-filter="full_time"
                                                                                          href="#"
                                                                                          class="filter-current aex-filter-btn">Full
                        Time</a></li>
                    <li {% if filter_type == "freelance" %} class="active" {% endif %}><a data-filter="freelance"
                                                                                          href="#"
                                                                                          class="filter-current aex-filter-btn">Freelancer</a>
                    </li>
                    <li {% if filter_type == "agencies" %} class="active" {% endif %}><a data-filter="agencies" href="#"
                                                                                         class="filter-current aex-filter-btn">Agencies</a>
                    </li>
                    <li {% if filter_type == "employee" %} class="active" {% endif %}><a data-filter="employee" href="#"
                                                                                         class="filter-current aex-filter-btn">Employees</a>
                    </li>
                </ul>
            </div>
            <div class="sr-sort">
                <div class="sort">
                    <p>{{ expert_count }} Bros</p>
                    |
                    <div class="sortby">Sort by
                        <select name="ex-sortby" id="ex-sortby">
                            <option {% if sort_type == 'relevancy' %} selected {% endif %} value="relevancy">Relevancy
                            </option>
                            <option {% if sort_type == 'alphabetic-asc' %} selected {% endif %} value="alphabetic-asc">
                                A-Z
                            </option>
                            <option {% if sort_type == 'alphabetic-desc' %} selected {% endif %}value="alphabetic-desc">
                                Z-A
                            </option>
                            <option {% if sort_type == 'popularity' %} selected {% endif %} value="popularity">
                                Popularity
                            </option>

                        </select>
                    </div>
                </div>

                <div class="paginate-by">

                    {% if page_obj.has_other_pages %}
                        Show
                        <select id="expert-paginate-by">
                            <option {% if pagee == '10' %} selected {% endif %}>10</option>
                            <option {% if pagee == '20' %} selected {% endif %}>20</option>
                            <option {% if pagee == '30' %} selected {% endif %}>30</option>
                            <option {% if pagee == '40' %} selected {% endif %}>40</option>
                            <option {% if pagee == '50' %} selected {% endif %}>50</option>
                        </select>
                        per page
                    {% endif %}
                </div>
            </div>
            {% for expert in experts %}
                <div class="result full-time filter">
                    <div class="result-list-item container">
                        <div class="expert-list-detail row">
                            <div class="expert-list-info col-md-2">
                                <div class="img-prf">
                                    <a class="expert-list-link" href="{% url 'expert_detail' slug=expert.slug %}">
                                        {{ expert.get_image_thumbnail }}
                                    </a>
                                    <h3 class="name-mob">{{ expert.name }}</h3>
                                </div>
                            </div>
                            <div class="expert-list-company col-md-5">
                                <div class="expert-info-2 col-md-8 col-6">
                                    <div class="expert-list-name-loc-title">
                                        <a href="{% url 'expert_detail' slug=expert.slug %}"><h3
                                                class="name">{{ expert.name }}</h3></a>
                                        <p class="loc">{{ expert.location }}</p>
                                        <ul class="fields-of-expertise">
                                            {% for field in expert.fields_of_experties.all %}
                                                <li class="foe-list-item">{{ field }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p class="b-title">{{ expert.business_title|slice:30 }}</p>
                                    </div>
                                    <div class="follow-message">
                                        <button type="button" data-href="{% url 'expert_follow' slug=expert.slug %}"
                                                class="btn follow expert-follow">
                                            {% if logged_user in expert.follower_list.all %}
                                                Unfollow
                                            {% else %}
                                                Follow
                                            {% endif %}
                                        </button>
                                        <a class="message" href="#">
                                            <i style="color:#fff"
                                               class="fa fa-envelope"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="company-wrapper col-md-4 col-6">

                                    {% for company in expert.company.all %}
                                        <p class="txt-company">company</p>
                                        <a href="{% url 'company_detail' slug=company.slug %}">
                                            {% if company.company_logo %}
                                                <img class="expert-list-company-logo"
                                                     src="{{ company.company_logo.url }}"
                                                     alt="{{company.name}}">
                                            {% endif %}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="expert-list-events col-md-5">
                                <div class="expert-list-event-header">
                                    <p class="txt-events">Events</p>
                                    {#                                    <a class="e-list-event-header-profile-url" href="#">Go to Expert Profile</a>#}
                                </div>
                                <div class="expert-event-slider">
                                    <div class="e-list-slider">
                                        {% for expert_event in expert.exxperts.all %}
                                            <a href="{% url 'event_detail_url' slug=expert_event.event.slug %}"
                                               class="e-e-slider-item-link">
                                                <div class="e-e-slider-item">
                                                    <div class="event-label-speaker">
                                                        <p>{{ expert_event.tag.tags }}</p>
                                                    </div>
                                                    <img src="{{ expert_event.event.event_img.url }}" alt="Revealin Event">
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page_obj.has_other_pages %}
            <script type="text/javascript">
                let url_string = window.location.href
                let url = new URL(url_string);
                let paginate_by1 = url.searchParams.get("paginate_by");
                if (!paginate_by1) {
                    paginate_by = 15
                } else {
                    paginate_by = paginate_by1
                }
            </script>
            <div class="container">
                <div class="pagination-bottom" id="aaa">
                    <div class="pag-info">
                        <p>Displaying <span>{{ pagee }}</span> - {{ expert_count }} results </p>
                    </div>
                    <div class="pag-paginate">
                        {% if page_obj.has_previous %}
                            <a
                                    href="{{ request.path }}?page={{ page_obj.previous_page_number }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="">Previous</a>
                        {% else %}
                            <p>Previous</p>
                        {% endif %}
                        {% ifequal 1 page_obj.number %}
                            <a
                                    href="{{ request.path }}?page=1&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="page-active">1 </a>
                        {% else %}
                            <a
                                    href="{{ request.path }}?page=1&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="">1</a>
                        {% endifequal %}
                        {% ifequal 2 page_obj.number %}
                            <a
                                    href="{{ request.path }}?page=2&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="page-active">2</a>
                        {% else %}
                            <a
                                    href="{{ request.path }}?page=2&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="">2</a>
                        {% endifequal %}
                        {% for linkpage  in paginator.page_range %}

                            {% if forloop.counter == page_obj.number|add:"-3" and  page_obj.number > 5 %}
                                ...
                            {% endif %}
                            {% if forloop.counter > page_obj.number|add:"-3" and forloop.counter < page_obj.number|add:"3" and forloop.counter != 2 and forloop.counter != 1 and forloop.counter != paginator.num_pages|add:"-1" and forloop.counter != paginator.num_pages %}
                                {% ifequal linkpage page_obj.number %}
                                    <a
                                            href="{{ request.path }}?page={{ page_obj.number }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                            class="page-active">{{ page_obj.number }}</a>
                                {% else %}
                                    <a
                                            href="{{ request.path }}?page={{ linkpage }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                            class="">{{ linkpage }}</a>
                                {% endifequal %}
                                {#                                    normal goster end#}
                            {% endif %}
                            {% if forloop.counter == page_obj.number|add:"3" and page_obj.number < paginator.num_pages|add:"-3" %}
                                ...
                            {% endif %}
                        {% endfor %}
                        {% ifequal paginator.num_pages|add:"-1" page_obj.number %}
                            <a
                                    href="{{ request.path }}?page={{ paginator.num_pages|add:"-1" }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="page-active">{{ paginator.num_pages|add:"-1" }}</a>
                        {% else %}
                            <a
                                    href="{{ request.path }}?page={{ paginator.num_pages|add:"-1" }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                    class="page">{{ paginator.num_pages|add:"-1" }}</a>
                        {% endifequal %}
                        {% if  page_obj.number != 2 or page_obj.number != 1 %}
                            {% ifequal paginator.num_pages page_obj.number %}
                                <a
                                        href="{{ request.path }}?page={{ paginator.num_pages }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                        class="page-active">{{ paginator.num_pages }}</a>
                            {% else %}
                                <a
                                        href="{{ request.path }}?page={{ paginator.num_pages }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}"
                                        class="page">{{ paginator.num_pages }}</a>
                            {% endifequal %}
                        {% endif %}
                        {% if page_obj.has_next %}
                            <a href="{{ get_full_path }}?page={{ page_obj.next_page_number }}&paginate_by={{ pagee }}&sort={{ sort_type }}&filter={{ filter_type }}">Next</a>
                        {% else %}
                            <p>Next</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="container top-companies">
        <div class="row">
            <div class="col-md-8 top-com-info">
                <div class="top-com-header">
                    <h3>Top Companies</h3>
                    <span class="divider-title"></span>
                    <a href="{% url "companies" %}">View all companies</a>
                </div>
                <div class="d-flex flex-row flex-wrap com-wrapper">
                    {% for company in companies %}
                        <div class="card mb-3" style="max-width: 50%;">
                            <div class="row no-gutters">
                                <div class="col-md-4 d-flex align-items-center img-con">
                                    <a href="{% url 'company_detail' slug=company.slug %}">
                                        {% if company.company_logo %}
                                            <img class="card-img" src="{{ company.company_logo.url }}"
                                                 alt="{{ company.name }}"/>
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body top-com-name-loc-con">
                                        <a class="card-title name" href="{% url 'company_detail' slug=company.slug %}">
                                            {{ company.name }}
                                        </a>
                                        <ul class="markets">
                                            {% for market in company.markets.all %}
                                                <li class="markets-list-item">{{ market }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p class="card-text loc">{% for loc in company.location.all %}
                                            <h7>{{ loc }}</h7>
                                        {% endfor %}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            <div class="top-com-header">
                    <h3>Top Profiles</h3>
                    <span class="divider-title"></span>
                    <a href="{% url "expert" %}">View all Experts</a>
                </div>
                <div class="d-flex flex-row flex-wrap com-wrapper">
                    {% for expert in experts %}
                        <div class="card mb-3" style="max-width: 50%;">
                            <div class="row no-gutters">

                                <div class="col-md-4 d-flex align-items-center img-con">
                                    <a href="{% url 'expert_detail' slug=expert.slug %}">
                                            <img class="card-img" src="{{ expert.get_profile_pic_url }}"
                                                 alt="{{ expert.name }}"/>
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body top-com-name-loc-con">
                                        <a class="card-title name" href="{% url 'expert_detail' slug=expert.slug %}">
                                            {{ expert.name }}
                                        </a>
                                        <ul class="markets">
                                            {% for market in company.markets.all %}
                                                <li class="markets-list-item">{{ market }}</li>
                                            {% endfor %}
                                        </ul>
                                        <p class="card-text loc">{{  expert.location }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-4">
                <a href="{% url 'user_registration_url' %}"><img class="img-fluid mb-3" src="{% static 'assets/images/ex/startup-ad.png' %}" alt="Revealin Startups"></a>
                <a href="{% url 'user_registration_url' %}"><img class="img-fluid" src="{% static 'assets/images/ex/company-ad.png' %}" alt="Revealin Companies"></a>
            </div>
        </div>
    </div>
{% endblock %}