{% extends "base.html" %}
{% load static %}
{% block main %}
    <section id="header">
        <div class="box">
            <img class="img-fluid" src="{% static 'assets/images/businesse-events2.jpg' %}" alt="Revealin Events">
            <div class="img-text">
                <h1 class="text-uppercase font-weight-bold">User Registration</h1>
            </div>
        </div>
    </section>
    <section id="create-event">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
        </button>

        <!-- Modal -->

    </section>

{% endblock %}