{% extends "base.html" %}
{% load static %}
{% block main %}
    <section id="header" class="ed-header">
        <div class="box">
            <img class="img-fluid" src="{% static 'assets/images/businesse-events2.jpg' %}" alt="{{ event.name }}">
            <div class="img-text">
                <h1 class="text-uppercase font-weight-bold d-flex justify-content-start">{{ event.name }}</h1>
            </div>
        </div>
    </section>
    <section id="event-detail">
        <div class="container">
            <div class="row">
                <div class="col-md-8" id="main">
                    <div class="event-content border bg-white">
                        <div>
                            {{ event.get_image_thumbnail }}
                            <h1 class="d-flex justify-content-start font-weight-bold pl-3">{{ event.name }}</h1>
                            <p class="text-justify">{{ event.info }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 bg-white">
                    <div class="d-flex justify-content-center flex-grow-1 div-buy-ticket-ce">
                        <a href="/buyticket/{{ event.id }}" class="buy-ticket-ed text-uppercase font-weight-bold">Buy
                            Ticket</a>
                    </div>
                    <div class="d-flex justify-content-center ">
                        <h5 class="ce-ticket-dt-price font-weight-bold">{{ event.start_event_dt|date:"d M" }} {{ event.price }}$</h5>
                    </div>
                    <div class="card shadow my-3">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-uppercase ed-title">Event Detail</h5>
                            <div class="d-flex justify-content-start">
                                <div>
                                    <p class="font-weight-bold ed-event-info-l">Start Date:</p>
                                    <p class="font-weight-bold ed-event-info-l">End Date:</p>
                                    <p class="font-weight-bold ed-event-info-l">Room:</p>
                                    <p class="font-weight-bold ed-event-info-l">Venue:</p>
                                    <p class="font-weight-bold ed-event-info-l">Address:</p>
                                    <p class="font-weight-bold ed-event-info-l">Organizer:</p>
                                </div>
                                <div class="ml-1">
                                    <p class="ed-event-info">&nbsp{{ event.start_event_dt }}</p>
                                    <p class="ed-event-info">&nbsp{{ event.finish_event_dt }}</p>
                                    <p class="ed-event-info">&nbspRoom 002</p>
                                    <p class="ed-event-info">&nbsp{{ event.location }}</p>
                                    <p class="ed-event-info">&nbsp{{ event.location }}</p>
                                    <p class="ed-event-info">&nbsp{{ event.organizer }}</p>
                                </div>
                            </div>
                            {% if event.refund_days == 0 %}
                                <h7>No Refunds</h7>
                            {% endif %}
                            {% if event.refund_days > 0 %}
                                <h7>Refunds up to <b>{{ event.refund_days }}</b> days before event.</h7>
                            {% endif %}
                            <hr>
                            <div title="Add to Calendar" class="addeventatc" data-styling="none">
                                Add to Calendar
                                <span class="fa fa-2x fa-angle-down arrow"
                                      aria-hidden="true"></span>
                                <span class="start">{{ event.start_event_dt }}</span>
                                <span class="end">{{ event.finish_event_dt }}</span>
                                <span class="title">{{ event.name }}</span>
                                <span class="description">{{ event.info }}</span>
                                <span class="location">{{ event.location }}</span>
                            </div>
                        </div>
                    </div>
                    {#                    <div class="card shadow my-3">#}
                    {#                        <div class="card-body">#}
                    {#                            <h4 class="card-title font-weight-bold text-uppercase ed-title">Organizers</h4>#}
                    {#                            <div class="d-flex flex-column justify-content-center align-items-center">#}
                    {#                                <h4>{{ event.organizer }}</h4>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    {% if event.sponsor.count > 0 %}
                        <div class="card shadow my-3 sponsors">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold text-uppercase ed-title">Sponsors</h5>
                            <div class="grid-container">
                                {% for sponsor in event.sponsor.all %}
                                    <div class="grid-item">
                                        <a href="{{ sponsor.url }}" target="_blank">
                                            <img style="width:100%; height:auto"
                                                 src="{{ sponsor.img.url }}" alt="{{ sponsor.name }}">
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr style="border-top: 1px solid #707070;">
        <div class="body-wrapper">

            <div class="d-flex flex-row justify-content-between">
                <div>
                    <h3 class="text-muted">{{ event.start_event_dt|date:"d M" }} {{ event.price }}$</h3>
                </div>
                <div>

                    <span style="color: #0097fe; font-size: 1.2rem;" class="mr-2 fa fa-share-alt share-button"
                          aria-hidden="true"
                    data-placement="top" tabindex="0" data-toggle="popover"
                              data-content="link copied"
                    ></span>
                    <a href="https://facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank"><span
                            style="color: #0097fe; font-size: 1.2rem;" class="mr-2 fa fa-facebook"
                            aria-hidden="true"></span>
                    </a>

                    <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ request.build_absolute_uri }}" target="_blank">
                    <span style="color: #0097fe; font-size: 1.2rem;" class="mr-2 fa fa-twitter"
                          aria-hidden="true"></span>
                   </a>
{##}
{#                    <span style="color: #0097fe; font-size: 1.2rem;" class="fa fa-youtube-play"#}
{#                          aria-hidden="true"></span>#}
                </div>
            </div>
            <div class="d-flex justify-content-center flex-grow-1 div-buy-ticket-ce-big">
                <a href="/buyticket/{{ event.id }}" class="buy-ticket-ed1 text-uppercase font-weight-bold">Buy
                    Ticket</a>
            </div>
        </div>
     <h3 class="my-3 text-center">Speakers</h3>
        <div class="d-flex justify-content-start flex-wrap speakers">

            {% for speaker in event.speaker.all %}
            <div class="">
                <a href="{% url 'expert_detail' slug=speaker.slug %}">
                    <figure class="figure">
                        <img class="ed-speaker-img"
                             src="{{ speaker.expert_img.url }}"
                             alt="{{ speaker.name }}">
                        <figcaption class="figure-caption text-center font-weight-bold">{{ speaker.name }}</figcaption>
                    </figure>
                </a>
            </div>
            {% endfor %}
        </div>
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h3 class="mt-5">Organizer of {{ event.name }}</h3>
                <p class="my-2">Mride provides Round Trip Transportation to every concert Sporting Event and Festival in
                    the Bay
                    Area</p>
                <div class="my-2 d-flex justify-content-center flex-grow-1">
                    <a href="#" class="ed-follow text-uppercase font-weight-bold">Follow</a>
                </div>
            </div>

        <h4 class="text-center text-muted">Upcoming Events From {{ event.organizer }}</h4>
            <div class="ed-slider">
                {% for i in "1234" %}
                    <div class="event-card mx-2">
                        <div class="card mx-sm-1 shadow mb-5">
                            <a href="#">
                                <img class="card-img-top event-card-img img-fluid"
                                     src="http://fakeimg.pl/490x260?text=past"
                                     alt="Card image cap">
                                <div class="overlay">
                                </div>
                            </a>
                            <div class="card-body" style="position: relative">
                                <div class="shadow text-white  event-date text-center font-weight-bold">
                                    <span class="sp-month">JUL</span>
                                    <span class="sp-dt">22-2019</span>
                                </div>
                                <h5 class="card-title text-center pt-3">Course About Business</h5>
                                {#                                <p class="card-text text-justify event-info">{{ event.info|slice:90 }}</p>#}
                                <div class="card-event-icons d-flex flex-grow-1 justify-content-between">
                                            <span style="color: #0097fe;" class="fa fa-share-alt pr-1"
                                                  aria-hidden="true"></span>
                                    <span style="color: #e85858;" class="fa fa-heart"
                                          aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="card shadow text-white buy-ticket text-uppercase px-4"
                                 onclick="location.href='#';"><p>Buy Ticket</p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
    </section>
{% endblock %}