.jb-input {
  border-radius: 30px;
  background-color: #f4f4f4;
  resize: none;
}
.jb-input-ce {
  border-radius: 30px;
  background-color: #fff;
  resize: none;
}
.jb-input-w {
  border-radius: 30px;
  background-color: #fff;
}